form {
    position: relative;
}

input {
    font-size: 24px;
    margin: 30px;
    border-style: none;
    border-bottom: 1px solid silver;
}

input:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}

label {
    position: absolute;
    opacity: 0;
}

label:focus {
    opacity: 1;
}